<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
        <div formGroupName="projectData">
          <div class="form-group">
            <label for="projectName">projectName</label>
            <span
              *ngIf="
                !projectForm.get('projectData.projectName').valid &&
                projectForm.get('projectData.projectName').touched
              "
              class="help-block"
            >
              <span
                *ngIf="
                  projectForm.get('projectData.projectName').errors[
                    'nameIsForbidden'
                  ]
                "
              >
                This name is invalid
              </span>
              <span
                *ngIf="
                  projectForm.get('projectData.projectName').errors['required']
                "
              >
                Please enter valid name
              </span>
            </span>
            <input
              type="text"
              id="projectName"
              class="form-control"
              formControlName="projectName"
            />
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <span
              *ngIf="
                !projectForm.get('projectData.email').valid &&
                projectForm.get('projectData.email').touched
              "
              class="help-block"
              >Please enter a valid email</span
            >

            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select class="form-control" id="status">
            <option value="stable">stable</option>
            <option value="critical">critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
